<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Add new movie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>




<h1>Add new movie to the database</h1>

<table class="table table-striped">


<form action ="#" th:action="@{/newmovie}" th:object="${movie}" method="post">

    <table class="table table-striped">

        <tr>

            <td><p>Title: <input type="text" th:field="${movie.title}"/></p></td>
            <td><p>Director: <input type="text" th:field="${movie.director}"/></p></td>
            <td><p>Actor: <input type="text" th:field="${movie.actor}"/></p></td>
            <td><p>Description: <input type="text" th:field="${movie.description}"/></p></td>
            <td><p>Year: <input type="text" th:field="${movie.year}"/></p></td>

        </tr>

    </table>

    <p>Select category</p>

    <select id="categorylist" th:field="*{category}"
            class="form-control">
        <option th:each="category: ${categories}"
                th:value="${category.categoryid}"
                th:text="${category.name}">

        </option>

    </select>

    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>

</form>


</table>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<form th:action="@{/returning}" method="post">
    <input type="submit" value="Return" class="btn-default"/>
</form>

</body>
</html>