<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Movielist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>


<h1>Nile's Top 10 Movies</h1>
<!--<div>
<img src="https://cdn.shopify.com/s/files/1/1119/4994/products/0_a123e47b-c8f1-4662-b50d-a7bc80c38d1c_grande.jpg?v=1527192513" alt="Say what again">
</div>-->
<div class="col-md-4">


</div>


<div class="col-md-4">
    <h3 th:inline="text">Welcome to the Moviedatabase, [[${#httpServletRequest.remoteUser}]]!</h3>
    <td sec:authorize="hasAuthority('USER')"><p>Only Admin can add or delete movies.</p></td>
</div>
<div class="col-md-4" style="padding:20px 0">

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-danger"/>
    </form>


</div>
</br>
</br>

</br>
</br>
</br>
</br>


<table class="table table-striped">

    <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Actor</th>
        <th>Description</th>
        <th>Year</th>
        <th>Category</th>


    </tr>

    <tr th:each="movie : ${movies}">

        <td th:text="${movie.title}">Title</td>
        <td th:text="${movie.director}">Director</td>
        <td th:text="${movie.actor}">Actor</td>
        <td th:text="${movie.description}">Description</td>
        <td th:text="${movie.year}">Year</td>
        <td th:text="${movie.category.name}">category</td>
               <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletemovie/{id}(id=${movie.id})}" class="btn btn-danger">Delete</a></td>

    </tr>


</table>

<td sec:authorize="hasAuthority('ADMIN')"><a href="/newmovie" class="btn btn-success">New Movie</a></td>



</body>
</html>
